# Web Scraping NBA Data

In [138]:
import requests
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
pd.options.display.max_columns = None
import time

## MVP Voting Data

In [109]:
for year in range(1991, 2022):
    url_to_scrape = 'https://www.basketball-reference.com/awards/awards_{}.html'.format(year)
    page = requests.get(url_to_scrape)
    with open('data/{}.html'.format(year), "w+") as f:
        f.write(page.text)

In [110]:
with open('data/1991.html') as f:
    page = f.read()

In [111]:
soup = BeautifulSoup(page, "html.parser")

In [112]:
soup.find('tr', class_="over_header").decompose()

In [113]:
html_table = soup.find_all(id='mvp')

In [114]:
mvp_1991 = pd.read_html(str(html_table))[0]

In [115]:
mvp_1991['year'] = 1991

In [116]:
mvp_1991.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,year
0,1,Michael Jordan,27,CHI,77.0,891.0,960,0.928,82,37.0,31.5,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,2,Magic Johnson,31,LAL,10.0,497.0,960,0.518,79,37.1,19.4,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,3,David Robinson,25,SAS,6.0,476.0,960,0.496,82,37.7,25.6,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,4,Charles Barkley,27,PHI,2.0,222.0,960,0.231,67,37.3,27.6,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,5,Karl Malone,27,UTA,0.0,142.0,960,0.148,82,40.3,29.0,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991

In [117]:
mvp_1991.shape

(20, 21)

In [118]:
for year in range(1992, 2022):
    with open('data/{}.html'.format(year)) as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_="over_header").decompose()
    html_table = soup.find_all(id='mvp')
    df = pd.read_html(str(html_table))[0]
    df['year'] = year
    mvp_1991 = pd.concat([mvp_1991, df])

In [119]:
mvp_data = mvp_1991.copy()

In [120]:
mvp_data

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,year
0,1,Michael Jordan,27,CHI,77.0,891.0,960,0.928,82,37.0,31.5,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,2,Magic Johnson,31,LAL,10.0,497.0,960,0.518,79,37.1,19.4,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,3,David Robinson,25,SAS,6.0,476.0,960,0.496,82,37.7,25.6,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,4,Charles Barkley,27,PHI,2.0,222.0,960,0.231,67,37.3,27.6,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,5,Karl Malone,27,UTA,0.0,142.0,960,0.148,82,40.3,29.0,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,11,Russell Westbrook,32,WAS,0.0,5.0,1010,0.005,65,36.4,22.2,11.5,11.7,1.4,0.4,0.439,0.315,0.656,3.7,0.075,2021
11,12,Ben Simmons,24,PHI,0.0,3.0,1010,0.003,58,32.4,14.3,7.2,6.9,1.6,0.6,0.557,0.300,0.613,6.0,0.153,2021
12,13T,James Harden,31,TOT,0.0,1.0,1010,0.001,44,36.6,24.6,7.9,10.8,1.2,0.8,0.466,0.362,0.861,7.0,0.208,2021
13,13T,LeBron James,36,LAL,0.0,1.0,1010,0.001,45,33.4,25.0,7.7,7.8,1.1,0.6,0.513,0.365,0.698,5.6,0.179,2021
14,13T,Kawhi Leonard,29,LAC,0.0,1.0,1010,0.001,52,34.1,24.8,6.5,5.2,1.6,0.4,0.512,0.398,0.885,8.8,0.238,2021

In [121]:
# mvp_data.to_csv('mvp_data.csv', index=False)

## Player Stats

In [122]:
page = requests.get('https://www.basketball-reference.com/leagues/NBA_1991_per_game.html')

In [123]:
for year in range(1991, 2022):
    url_to_scrape = 'https://www.basketball-reference.com/leagues/NBA_{}_per_game.html'.format(year)
    page = requests.get(url_to_scrape)
    with open('yearly-player-stats/{}.html'.format(year), "w+") as f:
        f.write(page.text)

In [136]:
driver = webdriver.Chrome(executable_path='/home/leo/Documents/chromedriver')

/tmp/ipykernel_552811/4049005912.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path='/home/leo/Documents/chromedriver')

In [143]:
for year in range(1991, 2022):
    driver.get('https://www.basketball-reference.com/leagues/NBA_{}_per_game.html'.format(year))
    driver.execute_script('window.scrollTo(1,10000)')
    time.sleep(2)
    html = driver.page_source
    with open('yearly-player-stats/{}.html'.format(year), 'w+') as f:
        f.write(html)

In [155]:
with open('yearly-player-stats/1991.html') as f:
    page = f.read()

In [156]:
soup = BeautifulSoup(page, "html.parser")

In [157]:
soup.find('tr', class_="thead").decompose()

In [160]:
html_table = soup.find_all(id='per_game_stats')

In [159]:
player_stats_1991 = pd.read_html(str(html_table))[0]

In [165]:
player_stats_1991['year'] = 1991

In [166]:
for year in range(1992,2022):
    with open('yearly-player-stats/{}.html'.format(year)) as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_="thead").decompose()
    html_table = soup.find_all(id='per_game_stats')
    year_stats = pd.read_html(str(html_table))[0]
    year_stats['year'] = year
    player_stats_1991 = pd.concat([player_stats_1991, year_stats])

In [168]:
# player_stats_1991.to_csv('yearly_player_stats.csv', index=False)

## Team Standings

In [171]:
for year in range(1991, 2022):
    url_to_scrape = 'https://www.basketball-reference.com/leagues/NBA_{}_standings.html'.format(year)
    page = requests.get(url_to_scrape)
    with open('team-standings-by-year/{}.html'.format(year), "w+") as f:
        f.write(page.text)

In [172]:
with open('team-standings-by-year/1991.html') as f:
    page = f.read()

In [173]:
soup = BeautifulSoup(page, "html.parser")

In [175]:
soup.find('tr', class_='thead').decompose()

In [205]:
eastern = soup.find_all(id='divs_standings_E')

In [206]:
eastern_df = pd.read_html(str(eastern))[0]

In [210]:
eastern_df['year'] = 1991
eastern_df.rename(columns={'Eastern Conference': 'team'}, inplace=True)
eastern_df = eastern_df[ eastern_df['team'] != 'Central Division']
eastern_df

                   team   W   L  W/L%    GB   PS/G   PA/G    SRS  year
0       Boston Celtics*  56  26  .683     —  111.5  105.7   5.22  1991
1   Philadelphia 76ers*  44  38  .537  12.0  105.4  105.6  -0.39  1991
2      New York Knicks*  39  43  .476  17.0  103.1  103.3  -0.43  1991
3    Washington Bullets  30  52  .366  26.0  101.4  106.4  -4.84  1991
4       New Jersey Nets  26  56  .317  30.0  102.9  107.5  -4.53  1991
5            Miami Heat  24  58  .293  32.0  101.8  107.8  -5.91  1991
7        Chicago Bulls*  61  21  .744     —  110.0  101.0   8.57  1991
8      Detroit Pistons*  50  32  .610  11.0  100.1   96.8   3.08  1991
9      Milwaukee Bucks*  48  34  .585  13.0  106.4  104.0   2.33  1991
10       Atlanta Hawks*  43  39  .524  18.0  109.8  109.0   0.72  1991
11      Indiana Pacers*  41  41  .500  20.0  111.7  112.1  -0.37  1991
12  Cleveland Cavaliers  33  49  .402  28.0  101.7  104.2  -2.33  1991
13    Charlotte Hornets  26  56  .317  35.0  102.8  108.0  -4.95  1991

In [209]:
western = soup.find_all(id='divs_standings_W')
western_df = pd.read_html(str(western))[0]
western_df.rename(columns={'Western Conference': 'team'}, inplace=True)
western_df['year'] = 1991
western_df = western_df[ (western_df['team'] != 'Midwest Division') & (western_df['team'] != 'Pacific Division')]
western_df

                       team   W   L  W/L%    GB   PS/G   PA/G     SRS  year
1        San Antonio Spurs*  55  27  .671     —  107.1  102.6    4.30  1991
2                Utah Jazz*  54  28  .659   1.0  104.0  100.7    3.18  1991
3          Houston Rockets*  52  30  .634   3.0  106.7  103.2    3.27  1991
4             Orlando Magic  31  51  .378  24.0  105.9  109.9   -3.79  1991
5    Minnesota Timberwolves  29  53  .354  26.0   99.6  103.5   -3.75  1991
6          Dallas Mavericks  28  54  .341  27.0   99.9  104.5   -4.27  1991
7            Denver Nuggets  20  62  .244  35.0  119.9  130.8  -10.31  1991
9   Portland Trail Blazers*  63  19  .768     —  114.7  106.0    8.47  1991
10      Los Angeles Lakers*  58  24  .707   5.0  106.3   99.6    6.73  1991
11            Phoenix Suns*  55  27  .671   8.0  114.0  107.5    6.49  1991
12   Golden State Warriors*  44  38  .537  19.0  116.6  115.0    1.72  1991
13     Seattle SuperSonics*  41  41  .500  22.0  106.6  105.4    1.31  1991
14     Los Angeles Clippers  31  51  .378  32.0  103.5  107.0   -3.16  1991
15         Sacramento Kings  25  57  .305  38.0   96.7  103.5   -6.27  1991

In [211]:
combined_1991 = pd.concat([eastern_df, western_df])

In [212]:
combined_1991

                       team   W   L  W/L%    GB   PS/G   PA/G     SRS  year
0           Boston Celtics*  56  26  .683     —  111.5  105.7    5.22  1991
1       Philadelphia 76ers*  44  38  .537  12.0  105.4  105.6   -0.39  1991
2          New York Knicks*  39  43  .476  17.0  103.1  103.3   -0.43  1991
3        Washington Bullets  30  52  .366  26.0  101.4  106.4   -4.84  1991
4           New Jersey Nets  26  56  .317  30.0  102.9  107.5   -4.53  1991
5                Miami Heat  24  58  .293  32.0  101.8  107.8   -5.91  1991
7            Chicago Bulls*  61  21  .744     —  110.0  101.0    8.57  1991
8          Detroit Pistons*  50  32  .610  11.0  100.1   96.8    3.08  1991
9          Milwaukee Bucks*  48  34  .585  13.0  106.4  104.0    2.33  1991
10           Atlanta Hawks*  43  39  .524  18.0  109.8  109.0    0.72  1991
11          Indiana Pacers*  41  41  .500  20.0  111.7  112.1   -0.37  1991
12      Cleveland Cavaliers  33  49  .402  28.0  101.7  104.2   -2.33  1991
13        Charlotte Hornets  26  56  .317  35.0  102.8  108.0   -4.95  1991
1        San Antonio Spurs*  55  27  .671     —  107.1  102.6    4.30  1991
2                Utah Jazz*  54  28  .659   1.0  104.0  100.7    3.18  1991
3          Houston Rockets*  52  30  .634   3.0  106.7  103.2    3.27  1991
4             Orlando Magic  31  51  .378  24.0  105.9  109.9   -3.79  1991
5    Minnesota Timberwolves  29  53  .354  26.0   99.6  103.5   -3.75  1991
6          Dallas Mavericks  28  54  .341  27.0   99.9  104.5   -4.27  1991
7            Denver Nuggets  20  62  .244  35.0  119.9  130.8  -10.31  1991
9   Portland Trail Blazers*  63  19  .768     —  114.7  106.0    8.47  1991
10      Los Angeles Lakers*  58  24  .707   5.0  106.3   99.6    6.73  1991
11            Phoenix Suns*  55  27  .671   8.0  114.0  107.5    6.49  1991
12   Golden State Warriors*  44  38  .537  19.0  116.6  115.0    1.72  1991
13     Seattle SuperSonics*  41  41  .500  22.0  106.6  105.4    1.31  1991
14     Los Angeles Clippers  31  51  .378  32.0  103.5  107.0   -3.16  1991
15         Sacramento Kings  25  57  .305  38.0   96.7  103.5   -6.27  1991

In [213]:
for year in range(1992, 2022):
    with open('team-standings-by-year/{}.html'.format(year)) as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_='thead').decompose()
    
    eastern = soup.find_all(id='divs_standings_E')
    eastern_df = pd.read_html(str(eastern))[0]
    eastern_df['year'] = year
    eastern_df.rename(columns={'Eastern Conference': 'team'}, inplace=True)
    eastern_df = eastern_df[ eastern_df['team'] != 'Central Division']
    
    western = soup.find_all(id='divs_standings_W')
    western_df = pd.read_html(str(western))[0]
    western_df.rename(columns={'Western Conference': 'team'}, inplace=True)
    western_df['year'] = year
    western_df = western_df[ (western_df['team'] != 'Midwest Division') & (western_df['team'] != 'Pacific Division')]

    combined = pd.concat([eastern_df, western_df])
    combined_1991 = pd.concat([combined_1991, combined])

In [214]:
combined_1991

                    team   W   L  W/L%    GB   PS/G   PA/G    SRS  year
0        Boston Celtics*  56  26  .683     —  111.5  105.7   5.22  1991
1    Philadelphia 76ers*  44  38  .537  12.0  105.4  105.6  -0.39  1991
2       New York Knicks*  39  43  .476  17.0  103.1  103.3  -0.43  1991
3     Washington Bullets  30  52  .366  26.0  101.4  106.4  -4.84  1991
4        New Jersey Nets  26  56  .317  30.0  102.9  107.5  -4.53  1991
..                   ...  ..  ..   ...   ...    ...    ...    ...   ...
13     Dallas Mavericks*  42  30  .583     —  112.4  110.2   2.26  2021
14    Memphis Grizzlies*  38  34  .528   4.0  113.3  112.3   1.07  2021
15     San Antonio Spurs  33  39  .458   9.0  111.1  112.8  -1.58  2021
16  New Orleans Pelicans  31  41  .431  11.0  114.6  114.9  -0.20  2021
17       Houston Rockets  17  55  .236  25.0  108.8  116.7  -7.50  2021

[957 rows x 9 columns]

In [216]:
# combined_1991.to_csv('team_standings.csv', index=False)